# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
# function that get lessers of two evens

def lesser_of_two_evens(a,b):
    
    #asking if the qutiont of two numbers equal 0
    
        if a%2==0 and b%2==0:
            
            if a<b:
                
                return a
            
            else:
                
                return b
            
        else:
            
            if a<b:
                
                return b
            
            else:
                
                return a

In [5]:
# Check
lesser_of_two_evens(2,4)

2

In [6]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [28]:
#function that takes two words and returns True if both words begin with same letter

def animal_crackers(text):
    #splitting the word
    
    x=text.split()
    
    # taking the first litter of the first word and the first letter of the second word
    
    if x[0][0]==x[1][0]:
        
        return 'true'
    
    else:
        
        return 'false'

In [29]:
# Check
animal_crackers('Levelheaded Llama')

'true'

In [30]:
# Check
animal_crackers('Crazy Kangaroo')

'false'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [32]:
# function that return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

def makes_twenty(n1,n2):
    
    #asking if the sum of the first two number equal 20 or one of the two numbers is equal 20
    
    if n1+n2==20 or n1==20 or n2==20:
        
        return 'true'
    
    else:
        
        return 'false'

In [33]:
# Check
makes_twenty(20,10)

'true'

In [34]:
# Check
makes_twenty(2,3)

'false'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [273]:
#  function that capitalizes the first and fourth letters of a name

def old_macdonald(name):
    
    x=''
    
    for i in range(0,len(name)):
        
        if i==0:
            
            y=name[i].capitalize()
            
            x+=y
            
            
        if i==3:
            
            y=name[i].capitalize()
            
            x+=y
            
    return x

In [272]:
# Check
old_macdonald('macdonald')

'MD'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [58]:
# function that Given an integer n, return True if n is within 10 of either 100 or 200

def almost_there(n):
    
    # asking if that given number is within 10 of either 100 or 200
    
    if n in range(90,110) and range(190,210):
        
        return 'true'
    
    else:
        
        return 'false'

In [65]:
# Check
almost_there(104)

'true'

In [60]:
# Check
almost_there(150)

'false'

In [61]:
# Check
almost_there(209)

'false'

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [113]:
#function that take a list of ints, return True if the array contains a 3 next to a 3 somewhere.

def has_33(nums):
    
    # making a counter from 0 to the len of the list
    
    for i in range(0,len(nums)+1):
        
        if nums[i]==3:
            
            i+=1
            
            if (nums[i])==3:
                
                return 'true'
            
            else:
                
                return'false'
            
        else:
            
            pass

In [114]:
# Check
has_33([1, 3, 3])

'true'

In [115]:
# Check
has_33([1, 3, 1, 3])

'false'

In [116]:
# Check
has_33([3, 1, 3])

'false'

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [194]:
def paper_doll(text):
    
    y=''
    
    for i in range(0,len(text)):
        
        x=text[i]*3
        
        y+=x
        
    return y

In [195]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [196]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [210]:
def blackjack(a,b,c):
    
    if a==b and b==c:
        
        return'BUST'
    
    elif a+b+c==21 or a+b+c<21:
        
        return a+b+c
    
    elif (a+b+c>21) and (a or b or c ==11):
        
        sum=a+b+c
        
        return sum-10

In [211]:
# Check
blackjack(5,6,7)

18

In [212]:
# Check
blackjack(9,9,9)

'BUST'

In [213]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [274]:
def summer_69(arr):
    
    sum=0
    
    for i in range(0,len(arr)):
        
        if arr[i]==6:
            
            for i in range(6,len(arr)):
                
                if arr[i]+1==9:
                    
                     pass

        else:
            
            sum+=arr[i]
            
    return sum

In [226]:
# Check
summer_69([1, 3, 5])

9

In [275]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

33

In [276]:
# Check
summer_69([2, 1, 6, 9, 11])

23

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [244]:
def spy_game(nums):
    
    for i in range(0,len(nums)):
        
        if nums[i]==0:
            
            i+=1
            
            if nums[i]==0:
                
                i+=1
                
                if nums[i]==7:
                    
                    return 'true'
                
        else:
            
            pass

In [245]:
# Check
spy_game([1,2,4,0,0,7,5])

'true'

In [246]:
# Check
spy_game([1,0,2,4,0,5,7])

In [247]:
# Check
spy_game([1,7,2,0,4,5,0])

IndexError: list index out of range

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    x=1

In [ ]:
# Check
count_primes(100)

## Great Job!